.grades {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 7rem;
    height: 60%;
    justify-content: center;
    margin-bottom: 2rem;
    width: 50%;
    max-width: 600px;
}

@media screen and (max-width: 992px) {
    .grades {
        font-size: 6rem;
        height: 50%;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .grades {
        font-size: 5.5rem;
        height: 50%;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .grades {
        font-size: 4.5rem;
        width: 85%;
    }
}

@media screen and (max-height: 768px) {
    .grades {
        font-size: 5.4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 50%;
        width: 65%;
    }
}

@media screen and (max-height: 600px) {
    .grades {
        font-size: 4rem;
    }
}

