.menu__botao{
    background: var(--cor-bg-botao2);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: var(--cor-ft-botao2);
    cursor: pointer;
    font-family: var(--font);
    font-size: 1.8rem;
    padding: 1rem;
    text-shadow: 2px 2px 5px rgba(64, 64, 64, 0.556);
}

.menu__botao:hover{
    animation: interacao 3s ease-in-out infinite;
}

.menu__botao--1{
    background: var(--cor-bg-botao1);
    color: var(--cor-ft-botao1);
    margin-right: 5rem;
}

@keyframes interacao {
    0% {
        transform: rotateZ(0) scale(1);
    }

    20% {
        transform: rotateZ(-10deg) scale(1.1);
    }

    50% {
        transform: rotateZ(0) scale(1.2);
    }

    80% {
        transform: rotateZ(10deg) scale(1.1);
    }

    100% {
        transform: rotateZ(0) scale(1);
    }
}

@media screen and (max-width: 768px) {
    .menu__botao {
        font-size: 1.5rem;
    }

    .menu__botao--1{
        margin-right: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .menu__botao {
        font-size: 1.2rem;
        padding: 0.6rem;
    }

    .menu__botao--1{
        margin-right: 1rem;
    }
}

@media screen and (max-height: 600px) {
    .menu__botao {
        font-size: 1.5rem;
    }

    .menu__botao--1{
        margin-right: 4rem;
    }
}